output/

benchmark/solver/*.csv
benchmark/solver/*.txt
benchmark/solver/*.png
benchmark/distributed/*

docs/*.aux
docs/*.log
docs/*.lot
docs/*.out
docs/*.tex
docs/*.toc

docs/math/*.aux
docs/math/*.log
docs/math/*.lot
docs/math/*.out
docs/math/*.tex
docs/math/*.toc

docs/numerics/*.aux
docs/numerics/*.log
docs/numerics/*.lot
docs/numerics/*.out
docs/numerics/*.tex
docs/numerics/*.toc


examples/meshes/*.vtk
examples/meshes/*.geo
examples/meshes/*.sh
examples/meshes/*.msh
examples/__pycache__/
examples/refined_meshes/*.vtk
examples/meshes/tet_mesh*